@import (reference) '../../less_includes/mixins.less';
@import (reference) '../../less_includes/variables.less';
@import (reference) '../../less_includes/colors.less';
@import (reference) '../../less_includes/materialDesignShadowHelper.less';

.media-details {
  .positionAbsolute();
  background: #ffffff;
}

.routetransition-enter .media-details {
  transform: scale(0.95, 0.95);
  opacity: 0.01;
}

.routetransition-enter.routetransition-enter-active .media-details {
  transform: scale(1, 1);
  opacity: 1;
  transition: all .25s ease-in-out;
}

.routetransition-leave .media-details {
  transform: scale(1, 1);
  opacity: 1;
  transition: all .25s ease-in-out;
}

.routetransition-leave.routetransition-leave-active .media-details {
  transform: scale(0.95, 0.95);
  opacity: 0.01;
}
