@import (reference) '../../less_includes/mixins.less';
@import (reference) '../../less_includes/colors.less';
@import (reference) '../../less_includes/materialDesignShadowHelper.less';

.navbar {
  .positionAbsolute(0, 0, auto, 0);
  .BoxShadowHelper(1);
  z-index: 10;
  height: 55px;
  background: @primaryColor;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  transition: height .9s ease-in-out;

  &.extended {
    height: 255px;
  }

  h1 {
    order: 0;
    flex: 1 1 auto;
    font-size: 120%;
    text-align: center;
    color: @textPrimaryColor;
    padding: 0 8px;
    margin: 0;
    font-weight: 300;
    text-align: left;
    height: 55px;
    line-height: 55px;
    .ellipsis();
  }

  button {
    order: 0;
    flex: 0 0 45px;
    align-self: auto;
    height: 55px;
    text-align: left;
    padding: 0 8px;
    margin: 0;
    border: none;
    outline: none;
    -webkit-appearance: none;
    background: transparent;
    color: @lightPrimaryColor;
    font-size: 100%;

    svg {
      fill: @lightPrimaryColor;
    }

    &:active {

      svg {
        fill: @textPrimaryColor;
      }
    }

  }
}

.routetransition-enter .navbar h1, .routetransition-enter .navbar button {
  opacity: 0.01;
}

.routetransition-enter.routetransition-enter-active .navbar h1,
.routetransition-enter.routetransition-enter-active .navbar button {
  opacity: 1;
  transition: opacity .25s ease-in-out;
}

.routetransition-leave .navbar h1, .routetransition-leave .navbar button {
  opacity: 1;
  transition: opacity .25s ease-in-out;
}

.routetransition-leave.routetransition-leave-active .navbar h1,
.routetransition-leave.routetransition-leave-active .navbar button {
  opacity: 0.01;
}

.routetransition-leave .navbar {
  box-shadow: none;
}

.routetransition-enter .navbar {
  .BoxShadowHelper(1);
}
